body, html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --c1: #253662;
    --c2: #4f6fbf;
    --c3: #fff; 
    --c5: #FE6E32; 
    --c6: #F3F4F6; 
    --c7: gray; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button1{
    background-color: var(--c1);
    padding: clamp(.8rem, 2vw, 1rem) clamp(1.7rem, 2vw, 2rem);
    color: var(--c3);
    font-size: 1.1rem;
    transition: 0.2s;
    border-radius: 5rem;
    outline: none;
    border: 0.15rem solid var(--c1);
    margin: .5rem;
    cursor: pointer;
}
.button1:hover{
    background-color: var(--c3);
    color: var(--c1); 
    border: 0.15rem solid var(--c1);   
}
.button3{
    background-color: var(--c1);
    padding: clamp(.8rem, 2vw, 1rem) clamp(1.7rem, 2vw, 2rem);
    color: var(--c3);
    font-size: 1.1rem;
    transition: 0.2s;
    border-radius: 5rem;
    outline: none;
    border: 0.15rem solid var(--c3);
    margin: .5rem;
    cursor: pointer;
}
.button3:hover{
    background-color: var(--c5);
    color: var(--c3); 
    border: 0.15rem solid var(--c3);   
}

.button2{
    background-color: var(--c5);
    padding: clamp(.8rem, 2vw, 1rem) clamp(1.7rem, 2vw, 2rem);
    color: var(--c3);
    font-size: 1.1rem;
    transition: 0.2s;
    border-radius: 5rem;
    outline: none;
    border: 0.15rem solid var(--c5);
    margin: .5rem;
    cursor: pointer;
}
.button2:hover{
    background-color: var(--c3);
    color: var(--c5);
    border: 0.15rem solid var(--c5);
}
h1{
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: bold;
}
h2{
    font-size: clamp(1.8rem, 3vw, 2.7rem);
    font-weight: bold;
}
h3{
    font-size: clamp(1.3rem, 2vw, 2rem);
    font-weight: bold;
}
p{
    font-size: clamp(.9rem, 5vw, 1.2);
    /* font-weight: bold; */
}